In [1]:
2+2 #basic maths

4

In [3]:
(30-5*8)/4 #Bodmas

-2.5

In [7]:
9 / 4  #division

2.25

In [6]:
9 // 4 #returns floor value

2

# Using Esc notations

In [88]:
name = "hello my name is p\t'Bot" #using \t for adding tab and also denoting escape character
uName = "hello my name is p\n'Bot" #using \n for adding new line and also denoting escape character
print(name)
print(uName)

botName = "hello my name is p\'Bot" #using \t for adding tab and also denoting escape character
print(botName)

hello my name is p	'Bot
hello my name is p
'Bot
hello my name is p'Bot

# Concatenation and Operations

In [ ]:
username = "Desmond"
msg = "Hello "
print(msg + username) #contatenation
print(msg[0])
print(username[-1]) # index start from 0 to length of string and python also have negative index starting from last character to first

In [25]:
print(username[1:3]) #slicing from 1st till 3rd position its value is not included
print(username[:3]) #slicing till 3rd position
print(username[-3:-1]) #slicing from 3rd till last position for negative index

es
Des
on

# Lists and Inbuilt methods, Slicing

In [126]:
#list can contain different values not just int but float, string etc.
#Note: Slicing will always work from start to end.
cubes = [1,8,27,64,125, "abc", 12.5]
print(cubes[-1]) 
print(cubes[-3: -1])
print(cubes[-2: ]) 

#concatenation
cubes = cubes + [216,343, 512, 729,1000]
print(cubes)

cubes[-1] = 2000
cubes[2] = 32
cubes.append(2100) #append method adding new value at the end of list
print(cubes.index(8)) #provides index of value present in list
print(cubes[2] == 8)

cubes[1:3] = [2,4] 
print(cubes)

cubes[2:4] = [] #removes 2,3rd element from list
print(cubes)

print(len(cubes)) # length of list

12.5
[125, 'abc']
['abc', 12.5]
[1, 8, 27, 64, 125, 'abc', 12.5, 216, 343, 512, 729, 1000]
1
False
[1, 2, 4, 64, 125, 'abc', 12.5, 216, 343, 512, 729, 2000, 2100]
[1, 2, 125, 'abc', 12.5, 216, 343, 512, 729, 2000, 2100]
11

# Nested Lists

In [54]:
tests = [1,2,55,21,9] #leading zeros in decimal integer literals not allowed e.g. 09
new_list = [cubes,tests] #nested list
print(new_list)

alphabets_list = ["hello", "hi", 'abc', 'des'] #appending string list in nested one
new_list.append(alphabets_list)
print(new_list)

[[1, 2, 125, 216, 343, 512, 729, 2000, 2100], [1, 2, 55, 21, 9]]
[[1, 2, 125, 216, 343, 512, 729, 2000, 2100], [1, 2, 55, 21, 9], ['hello', 'hi', 'abc', 'des']]

# Using Functions

In [74]:
#defining a method and writing factorial program using recursion
def factorial_no(n):
    if n > 1:
        return n*factorial_no(n-1)
    elif n == 0:
        return "factorial of 0 is 1"
    else:
        return 1 #since factorial of 0 is 1

#printing factorial using methods and using if else
print(factorial_no(5))
print(factorial_no(0))
print(factorial_no(9))

#sum of natural no using for loop 
def sum_of_natural_nos(n):
    res = 0
    for i in range(1,len(n)): #range will always exclude last element
        res += n[i]
    return res

print(sum_of_natural_nos([1,3,4,5,6,7,8,10]))
print(sum_of_natural_nos([-1,3,-40,-15,60,700,-800,80]))

120
factorial of 0 is 1
362880
43
-12

# Input Using Functions

In [83]:
#taking an input to get factorial of no
user_input = int(input("Enter a number: "))
res = factorial_no(user_input)
print(f"The factorial of {user_input} is {res}")

Enter a number:  6

The factorial of 6 is 720

In [87]:
words_list = ["hello", "abc"]
for i in words_list:
    print(i)

#using range inside list
range_lists = list(range(1,10,3))
print(range_lists)

hello
abc
[1, 4, 7]

# Switch Case Choice Game

In [95]:
def choice_no(n):
    match(n):
        case 1 | 2 | 3 :
            return "Its a nice one"
        case 5:
            return "No one looks at u"       
        case 8 | 9:
            return "Correct Answer"
        case _: #default case
            return "Wrong Answer Try Again"


user_choice = int(input("Enter a no: "))
choice_no(user_choice)

Enter a no:  8

'Correct Answer'

# Break and Continue

In [108]:
for i in range(2,10):
    for j in range(2, i):
        if i % j == 0:
            print(f"{j} is Even No")
            break # stops the iteration if match found moves to next val of i
    else:
        print(f"{j} is Prime No")

print("-----------------------")
for i in range(1,10):
    for j in range(2, i):
        if i % j == 0:
            print(f"{j} is Even No")
            continue # Continue starts new iteration even if match not found
    else:
        print(f"{j} is Prime No")

8 is Prime No
2 is Prime No
2 is Even No
4 is Prime No
2 is Even No
6 is Prime No
2 is Even No
3 is Even No
-----------------------
3 is Prime No
3 is Prime No
2 is Prime No
2 is Even No
3 is Prime No
4 is Prime No
2 is Even No
3 is Even No
5 is Prime No
6 is Prime No
2 is Even No
4 is Even No
7 is Prime No
3 is Even No
8 is Prime No

# Lambda Expressions

In [124]:
# With help of lambda expression we can return one function to other function or return function from other function

def provide_cube_no(x):
    return lambda x: x ** 3

#when u return provide_cube_no(4) it returns lamda function properties and provide_cube_no(4)(4) it returns actual value so
print(f"The cube is : {provide_cube_no(1)(5)}")

The cube is : 125

# List operations

In [144]:
cubes.insert(2, 120)

#remove first val
del cubes[0]

#removes last 
# last_no = cubes.pop()

#removes by index
# second_no = cubes.pop(2)

#remove value
# cubes.remove(343)

print(last_no)
print(second_no)
print(cubes)

colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[::2]

colors_iter = iter(colors)
print(next(colors_iter))

print(sub_colors)

bonuses = [900,400,500]
names = ['abby', 'ellie', 'joel']

#using map with lambda map will return objects
new_bonuses = list(map(lambda bonus: bonus * 2, bonuses))
print(new_bonuses)

512
216
[120, 120]
red
['red', 'yellow', 'blue', 'violet']
[1800, 800, 1000]

# Tuples Operations

In [5]:
from functools import reduce

numbers = (1,4,5,6)

#tuple does not support item assignment
# numbers[0] = 2

total = reduce(lambda a, b : a + b, numbers)

#filter always return filter object similar like map need to bind it with list or tuple or set to get output
filtered_nos = tuple(filter(lambda no: no > 4, numbers))

print(filtered_nos)
print(total)
print(numbers)

(5, 6)
16
(1, 4, 5, 6)

# List Comprehensions

In [14]:
nums = [2,3,4,5,8,9]
subjects_marks = [
    ['Maths',90],
    ['Science',85],
    ['Social Studies', 92],
    ['Hindi', 85]
]; 

cubes_list = [n ** 3 for n in nums]

# add updated lists
# updates_sm_lists = [sm[1] > 85 for sm in subjects_marks] 
updates_sm_lists = list(filter(lambda x: x[1] > 85, subjects_marks))

print(cubes_list)
print(updates_sm_lists)

[8, 27, 64, 125, 512, 729]
[['Maths', 90], ['Social Studies', 92]]

# Dictionaries

In [20]:
subjects_percent = {
    'Science': 88,
    'Maths': 90,
    'Marathi': 91,
    'Hindi': 82
}

# accessing key, value pairs in dictoniaries
for key, value in subjects_percent.items():
    print(key, value)

print("-----------------------------")

# accessing keys in dictionaries
for key in subjects_percent.keys():
    print(key)

print("-----------------------------")

# accessing keys in dictionaries
for value in subjects_percent.values():
    print(value)

Science 88
Maths 90
Marathi 91
Hindi 82
-----------------------------
Science
Maths
Marathi
Hindi
-----------------------------
88
90
91
82

# Dictionary Comprehensions

In [22]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

stocks_prizes_filters= {symbol: price * 5.01 for symbol, price in stocks.items()}


print(stocks_prizes_filters)

{'AAPL': 606.2099999999999, 'AMZN': 16933.8, 'MSFT': 1097.19, 'BIIB': 1402.8, 'QDEL': 1332.6599999999999, 'LVGO': 721.4399999999999}

# Sets

In [26]:
characters = set('google')
print(characters)

#sets also denoted by curly braces with no key value pairs
ratings = {1,4,2,3,5}
print(type(ratings))

#enumerate adds counter to each item of ratings
for i in enumerate(ratings):
    print(i)

{'o', 'e', 'l', 'g'}
<class 'set'>
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

# Sets Union, Intersection, Diff Use

In [36]:
s1 = {"Science", "History"}
s2 = {"Phsyics", "Maths", "Science" }

# union operation | operator to denote it
# unions = s1.union(s2) this supports iterables like list, set which can convert to set

# this supports only set types otherwise it will throw error
unions = s1 | s2 
print(unions)

#intersection operation & operator to denote it
intersections = s1.intersection(s2)
print(intersections)

#difference operation - operator to denote it provides only differnce from s1 set
differences = s1.difference(s2)
print(differences)

#symmetric difference operation ^ operator to denote it provides difference between both set
sym_differences = s1.symmetric_difference(s2)
print(sym_differences)

{'Phsyics', 'Maths', 'History', 'Science'}
{'Science'}
{'History'}
{'Phsyics', 'History', 'Maths'}

# Subset, Superset and Disjoint Sets

In [41]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

# subset means values included in both sets and denoted by < operator
result = scores.issubset(numbers)
print(result)

# superset means values included in set 1 has all values of s2 and itself and denoted by >= operator
result = scores.issuperset(numbers)
print(result)

result = numbers.issuperset(scores)
print(result)

#disjoint sets returns true if no common elememnt is present in both sets 
result = numbers.isdisjoint(scores)
print(result)

True
False
True
False

# Try Catch (Except) Finally Else Exceptions

In [51]:
#Divide by zero error demo using try except block
try:
    print("Inside try block")

    no1 = int(input("Enter a no 1: "))
    no2 = int(input("Enter a no 2: "))

    res = no1 / no2

#catch is replaced by except and if we dont have idea of error directly write except: it will catch all errors
#otherwise provide multiple error alongside except statement
except ValueError:
    print("String values are not allowed")
except ZeroDivisionError:
    print("No2 input cannot be 0")
#if no errors occurs during try block code execution else block will execute
else:
    print(f"{no1} / {no2} is {res}")
finally:
    print("Executed finally block")

Inside try block

Enter a no 1:  5
Enter a no 2:  2

5 / 2 is 2.5
Executed finally block

# File Handling And Writing Data

In [79]:
import os
import pathlib 

# with open('Docs.txt') as t:
#     lines = t.readlines()
#     print(lines)

# open(path_to_file, mode)
file_name = 'Docs.txt'
txtFile = open(file_name,'w')

#read returns complete string
# print(txtFile.read())

#readlines return list of strings
# print(txtFile.readlines())

#strip removes blank spaces
# for i in txtFile.readlines():
#     print(txtFile.strip())

txtFile.writelines("hello")
# print(txtFile.readlines())

#reading 
res = os.path.exists(file_name)
print(res)

path = pathlib.Path(file_name)

if(path.is_file()):
    print(f"The file {file_name} exists")
else:
    print(f"The file {file_name} does nt exists")

True
The file Docs.txt exists

# CSV File Handling

In [86]:
import csv

csv_file = open('country.csv','r')

# reader returns csv object need to loop
# using reader we can only read data like this line[0] implicitly means the country name. 
# It would be more expressive if you can access the country name like line['country_name']
# csv_reader = csv.reader(csv_file)
csv_reader = csv.DictReader(csv_file)

# for line_no,line in enumerate(csv_reader, 1):
#     if line_no == 1:
#         print("Header:")
#         print(line)
#         print("Data:")
#     else:
#         print(line)

for line in csv_reader:
    print(f"The area name is {line['name']} and area is {line['area']} km")

The area name is Afghanistan and area is 652090 km
The area name is Albania and area is 28748 km
The area name is Algeria and area is 2381741 km
The area name is American Samoa and area is 199 km
The area name is Andorra and area is 468 km
The area name is Angola and area is 1246700 km
The area name is Anguilla and area is 96 km
The area name is Antarctica and area is 13120000 km
The area name is Antigua and Barbuda and area is 442 km
The area name is Argentina and area is 2780400 km
The area name is Armenia and area is 29800 km
The area name is Aruba and area is 193 km
The area name is Australia and area is 7741220 km
The area name is Austria and area is 83859 km
The area name is Azerbaijan and area is 86600 km
The area name is Bahamas and area is 13878 km
The area name is Bahrain and area is 694 km
The area name is Bangladesh and area is 143998 km
The area name is Barbados and area is 430 km
The area name is Belarus and area is 207600 km
The area name is Belgium and area is 30518 km
The area name is Belize and area is 22696 km
The area name is Benin and area is 112622 km
The area name is Bermuda and area is 53 km
The area name is Bhutan and area is 47000 km
The area name is Bolivia and area is 1098581 km
The area name is Bosnia and Herzegovina and area is 51197 km
The area name is Botswana and area is 581730 km
The area name is Bouvet Island and area is 59 km
The area name is Brazil and area is 8547403 km
The area name is British Indian Ocean Territory and area is 78 km
The area name is Brunei and area is 5765 km
The area name is Bulgaria and area is 110994 km
The area name is Burkina Faso and area is 274000 km
The area name is Burundi and area is 27834 km
The area name is Cambodia and area is 181035 km
The area name is Cameroon and area is 475442 km
The area name is Canada and area is 9970610 km
The area name is Cape Verde and area is 4033 km
The area name is Cayman Islands and area is 264 km
The area name is Central African Republic and area is 622984 km
The area name is Chad and area is 1284000 km
The area name is Chile and area is 756626 km
The area name is China and area is 9572900 km
The area name is Christmas Island and area is 135 km
The area name is Cocos (Keeling) Islands and area is 14 km
The area name is Colombia and area is 1138914 km
The area name is Comoros and area is 1862 km
The area name is Congo and area is 342000 km
The area name is Cook Islands and area is 236 km
The area name is Costa Rica and area is 51100 km
The area name is CÃ´te dâ€™Ivoire and area is 322463 km
The area name is Croatia and area is 56538 km
The area name is Cuba and area is 110861 km
The area name is Cyprus and area is 9251 km
The area name is Czech Republic and area is 78866 km
The area name is Denmark and area is 43094 km
The area name is Djibouti and area is 23200 km
The area name is Dominica and area is 751 km
The area name is Dominican Republic and area is 48511 km
The area name is East Timor and area is 14874 km
The area name is Ecuador and area is 283561 km
The area name is Egypt and area is 1001449 km
The area name is El Salvador and area is 21041 km
The area name is Equatorial Guinea and area is 28051 km
The area name is Eritrea and area is 117600 km
The area name is Estonia and area is 45227 km
The area name is Ethiopia and area is 1104300 km
The area name is Falkland Islands and area is 12173 km
The area name is Faroe Islands and area is 1399 km
The area name is Federated States of Micronesia and area is 702 km
The area name is Fiji Islands and area is 18274 km
The area name is Finland and area is 338145 km
The area name is France and area is 551500 km
The area name is French Guiana and area is 90000 km
The area name is French Polynesia and area is 4000 km
The area name is French Southern territories and area is 7780 km
The area name is Gabon and area is 267668 km
The area name is Gambia and area is 11295 km
The area name is Georgia and area is 69700 km
The area name is Germany and area is 357022 km
The area name is Ghana and area is 238533 km
The area name is Gibraltar and area is 6 km
The area name is Greece and area is 131626 km
The area name is Greenland and area is 2166090 km
The area name is Grenada and area is 344 km
The area name is Guadeloupe and area is 1705 km
The area name is Guam and area is 549 km
The area name is Guatemala and area is 108889 km
The area name is Guinea and area is 245857 km
The area name is Guinea-Bissau and area is 36125 km
The area name is Guyana and area is 214969 km
The area name is Haiti and area is 27750 km
The area name is Heard Island and McDonald Islands and area is 359 km
The area name is Holy See (Vatican City State) and area is 0.4 km
The area name is Honduras and area is 112088 km
The area name is Hong Kong and area is 1075 km
The area name is Hungary and area is 93030 km
The area name is Iceland and area is 103000 km
The area name is India and area is 3287263 km
The area name is Indonesia and area is 1904569 km
The area name is Iran and area is 1648195 km
The area name is Iraq and area is 438317 km
The area name is Ireland and area is 70273 km
The area name is Israel and area is 21056 km
The area name is Italy and area is 301316 km
The area name is Jamaica and area is 10990 km
The area name is Japan and area is 377829 km
The area name is Jordan and area is 88946 km
The area name is Kazakstan and area is 2724900 km
The area name is Kenya and area is 580367 km
The area name is Kiribati and area is 726 km
The area name is Kuwait and area is 17818 km
The area name is Kyrgyzstan and area is 199900 km
The area name is Laos and area is 236800 km
The area name is Latvia and area is 64589 km
The area name is Lebanon and area is 10400 km
The area name is Lesotho and area is 30355 km
The area name is Liberia and area is 111369 km
The area name is Libyan Arab Jamahiriya and area is 1759540 km
The area name is Liechtenstein and area is 160 km
The area name is Lithuania and area is 65301 km
The area name is Luxembourg and area is 2586 km
The area name is Macao and area is 18 km
The area name is Macedonia and area is 25713 km
The area name is Madagascar and area is 587041 km
The area name is Malawi and area is 118484 km
The area name is Malaysia and area is 329758 km
The area name is Maldives and area is 298 km
The area name is Mali and area is 1240192 km
The area name is Malta and area is 316 km
The area name is Marshall Islands and area is 181 km
The area name is Martinique and area is 1102 km
The area name is Mauritania and area is 1025520 km
The area name is Mauritius and area is 2040 km
The area name is Mayotte and area is 373 km
The area name is Mexico and area is 1958201 km
The area name is Moldova and area is 33851 km
The area name is Monaco and area is 1.5 km
The area name is Mongolia and area is 1566500 km
The area name is Montserrat and area is 102 km
The area name is Morocco and area is 446550 km
The area name is Mozambique and area is 801590 km
The area name is Myanmar and area is 676578 km
The area name is Namibia and area is 824292 km
The area name is Nauru and area is 21 km
The area name is Nepal and area is 147181 km
The area name is Netherlands and area is 41526 km
The area name is Netherlands Antilles and area is 800 km
The area name is New Caledonia and area is 18575 km
The area name is New Zealand and area is 270534 km
The area name is Nicaragua and area is 130000 km
The area name is Niger and area is 1267000 km
The area name is Nigeria and area is 923768 km
The area name is Niue and area is 260 km
The area name is Norfolk Island and area is 36 km
The area name is North Korea and area is 120538 km
The area name is Northern Mariana Islands and area is 464 km
The area name is Norway and area is 323877 km
The area name is Oman and area is 309500 km
The area name is Pakistan and area is 796095 km
The area name is Palau and area is 459 km
The area name is Palestine and area is 6257 km
The area name is Panama and area is 75517 km
The area name is Papua New Guinea and area is 462840 km
The area name is Paraguay and area is 406752 km
The area name is Peru and area is 1285216 km
The area name is Philippines and area is 300000 km
The area name is Pitcairn and area is 49 km
The area name is Poland and area is 323250 km
The area name is Portugal and area is 91982 km
The area name is Puerto Rico and area is 8875 km
The area name is Qatar and area is 11000 km
The area name is RÃ©union and area is 2510 km
The area name is Romania and area is 238391 km
The area name is Russian Federation and area is 17075400 km
The area name is Rwanda and area is 26338 km
The area name is Saint Helena and area is 314 km
The area name is Saint Kitts and Nevis and area is 261 km
The area name is Saint Lucia and area is 622 km
The area name is Saint Pierre and Miquelon and area is 242 km
The area name is Saint Vincent and the Grenadines and area is 388 km
The area name is Samoa and area is 2831 km
The area name is San Marino and area is 61 km
The area name is Sao Tome and Principe and area is 964 km
The area name is Saudi Arabia and area is 2149690 km
The area name is Senegal and area is 196722 km
The area name is Seychelles and area is 455 km
The area name is Sierra Leone and area is 71740 km
The area name is Singapore and area is 618 km
The area name is Slovakia and area is 49012 km
The area name is Slovenia and area is 20256 km
The area name is Solomon Islands and area is 28896 km
The area name is Somalia and area is 637657 km
The area name is South Africa and area is 1221037 km
The area name is South Georgia and the South Sandwich Islands and area is 3903 km
The area name is South Korea and area is 99434 km
The area name is Spain and area is 505992 km
The area name is Sri Lanka and area is 65610 km
The area name is Sudan and area is 2505813 km
The area name is Suriname and area is 163265 km
The area name is Svalbard and Jan Mayen and area is 62422 km
The area name is Swaziland and area is 17364 km
The area name is Sweden and area is 449964 km
The area name is Switzerland and area is 41284 km
The area name is Syria and area is 185180 km
The area name is Taiwan and area is 36188 km
The area name is Tajikistan and area is 143100 km
The area name is Tanzania and area is 883749 km
The area name is Thailand and area is 513115 km
The area name is The Democratic Republic of the Congo and area is 2344858 km
The area name is Togo and area is 56785 km
The area name is Tokelau and area is 12 km
The area name is Tonga and area is 650 km
The area name is Trinidad and Tobago and area is 5130 km
The area name is Tunisia and area is 163610 km
The area name is Turkey and area is 774815 km
The area name is Turkmenistan and area is 488100 km
The area name is Turks and Caicos Islands and area is 430 km
The area name is Tuvalu and area is 26 km
The area name is Uganda and area is 241038 km
The area name is Ukraine and area is 603700 km
The area name is United Arab Emirates and area is 83600 km
The area name is United Kingdom and area is 242900 km
The area name is United States and area is 9363520 km
The area name is United States Minor Outlying Islands and area is 16 km
The area name is Uruguay and area is 175016 km
The area name is Uzbekistan and area is 447400 km
The area name is Vanuatu and area is 12189 km
The area name is Venezuela and area is 912050 km
The area name is Vietnam and area is 331689 km
The area name is Virgin Islands, British and area is 151 km
The area name is Virgin Islands, U.S. and area is 347 km
The area name is Wallis and Futuna and area is 200 km
The area name is Western Sahara and area is 266000 km
The area name is Yemen and area is 527968 km
The area name is Yugoslavia and area is 102173 km
The area name is Zambia and area is 752618 km
The area name is Zimbabwe and area is 390757 km

In [95]:
# csv header
fieldnames = ['name', 'area', 'country_code2', 'country_code3']

# csv data
rows = [
    {'name': 'Albania',
    'area': 28748,
    'country_code2': 'AL',
    'country_code3': 'ALB'},
    {'name': 'Algeria',
    'area': 2381741,
    'country_code2': 'DZ',
    'country_code3': 'DZA'},
    {'name': 'American Samoa',
    'area': 199,
    'country_code2': 'AS',
    'country_code3': 'ASM'}
]

with open('countries.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(rows)

In [110]:
# try:
#     os.rename('TestDoc.xlsx', 'TestDoc1.xlsx')
# except FileNotFoundError as e:
#     print(e)
# except FileExistsError as e:
#     print(e)

# dir = os.path.join("E:\\Python", "test")
# print(dir)

# if os.path.exists(dir) or os.path.isdir(dir):
#     # os.mkdir(dir)
#     print(f'The {dir} is a directory')

oldpath = os.path.join("E:\\", "Python", "test")
newpath = os.path.join("E:\\", "Python", "test2")

if os.path.exists(oldpath) and not os.path.exists(newpath):
    os.rename(oldpath, newpath)
    print("'{0}' was renamed to '{1}'".format(oldpath, newpath))

# os.rmdir(newpath)

print(os.getcwd())
print(os.walk("E:\\"))

E:\Python
<generator object walk at 0x0000027CF768C770>