In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_csv('covid_toy.csv')

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

## Without Column Transformer

In [9]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [10]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[: , :-1], df['has_covid'], test_size=0.2)

In [17]:
X_train

    age  gender  fever   cough       city
79   48  Female  103.0    Mild    Kolkata
6    14    Male  101.0  Strong  Bangalore
93   27    Male  100.0    Mild    Kolkata
52   47  Female  100.0  Strong  Bangalore
36   38  Female  101.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
0    60    Male  103.0    Mild    Kolkata
81   65    Male   99.0    Mild      Delhi
80   14  Female   99.0    Mild     Mumbai
3    31  Female   98.0    Mild    Kolkata
38   49  Female  101.0    Mild      Delhi

[80 rows x 5 columns]

In [19]:
#adding simple imputer to fill missing values
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

#filling test missing values
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [29]:
#Apply Ordinal Encoding to cough
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

#applying ordinal encoding to test values
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_cough.shape

X_train

    age  gender  fever   cough       city
79   48  Female  103.0    Mild    Kolkata
6    14    Male  101.0  Strong  Bangalore
93   27    Male  100.0    Mild    Kolkata
52   47  Female  100.0  Strong  Bangalore
36   38  Female  101.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
0    60    Male  103.0    Mild    Kolkata
81   65    Male   99.0    Mild      Delhi
80   14  Female   99.0    Mild     Mumbai
3    31  Female   98.0    Mild    Kolkata
38   49  Female  101.0    Mild      Delhi

[80 rows x 5 columns]

In [31]:
#Apply One Hot Encoding to gender, city
ohe = OneHotEncoder(sparse_output=False, drop='first')

X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

#applying One Hot Encoding to test values
X_test_gender_city = ohe.fit_transform(X_test[['gender', 'city']])

X_train_gender_city.shape

(80, 4)

In [32]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [34]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_fever),axis=1)

X_train_transformed.shape

(80, 7)

## With Column Transformer

In [35]:
from sklearn.compose import ColumnTransformer

In [37]:
transformer = ColumnTransformer(
    transformers = [
        ('tnf1', SimpleImputer(), ['fever']),
        ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
        ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
    ], remainder='passthrough'
)

In [43]:
transformer.fit_transform(X_train).shape

(80, 7)

In [42]:
transformer.fit_transform(X_test).shape

(20, 7)