In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('final_dataset.csv', low_memory=False)

#set max columns and rows as none to get all values
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df.head(5)

,Unnamed: 0,derived_mail,Company Name,First Name,Middle Name,Last Name,Title,Level,Seniority,Department,Email ID,Email 1,Contact_City,Contact_State,Contact City,Contact State,Contact Country,Country,Website,Company City,Company State,Company Country,Industry,Sub Industry,Revenue,Revenue Range,EMP Range,Company Annual Revenue,Company Industry,Company Staff Count Range,Company Staff Count,Contact Linkedin URL,Contact LI Profile URL,source,Email,total_emails_sent,total_emails_opened,total_emails_clicked,total_emails_bounced,total_emails_unsubscribed,avg_time_between_emails,avg_time_between_emails_opened,days_since_last_email_opened,total_emails_sent_week_ends,has_ever_opened_email,is_clicked_email,has_ever_unsubscribed_email
0,0,a-holley@ti.com,Texas Instruments,Ashley,NaN,Holley,Creative Operations Manager,Mgr,NaN,Operations,a-holley@ti.com,NaN,Dallas,TX,NaN,NaN,NaN,United States,www.ti.com,Dallas,TX,United States,Manufacturing,NaN,$17.5B,10B+,"10,000+",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/ashleyjholley,NaN,../datasets/latest_dataset/Schneider_Electric_...,a-holley@ti.com,23.0,1.0,1.0,0.0,0.0,1.318182,NaN,0.0,5.0,1,1,0
1,1,a-smith3@ti.com,Texas Instruments,Amanda,NaN,Smith,Vice President Analog Power Products Supply Ch...,VP,NaN,Operations,a-smith3@ti.com,NaN,Dallas,TX,NaN,NaN,NaN,United States,www.ti.com,Dallas,TX,United States,Manufacturing,NaN,$17.5B,10B+,"10,000+",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/amanda-smith-8b11475,NaN,../datasets/latest_dataset/Schneider_Electric_...,a-smith3@ti.com,17.0,1.0,1.0,0.0,0.0,0.937500,NaN,0.0,2.0,1,1,0
2,2,a.danielson@aps.com,Arizona Public Service - APS,A,Justin,Danielson,"Manager, Procurement Operations",Manager,Manager,Operations,NaN,a.danielson@aps.com,Phoenix,Arizona,Phoenix,Arizona,United States,NaN,aps.com,Phoenix,Arizona,United States,NaN,NaN,NaN,NaN,NaN,$4.3B,"Electricity, Oil & Gas",NaN,5772.0,NaN,https://www.linkedin.com/in/ACoAAAJI_i0B-tDLCl...,../datasets/latest_dataset/Schneider_Electric_...,a.danielson@aps.com,12.0,1.0,1.0,0.0,0.0,1.181818,NaN,0.0,2.0,1,1,0
3,3,a.freitas@samsung.com,Samsung,Alex,NaN,Freitas,Sr Director of PMO and Operations,Dir,NaN,Operations,a.freitas@samsung.com,NaN,Dallas,TX,NaN,NaN,NaN,United States,www.samsung.com,Ridgefield Park,NJ,United States,Manufacturing,NaN,$197B,10B+,"10,000+",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/alexfreitas,NaN,../datasets/latest_dataset/Schneider_Electric_...,a.freitas@samsung.com,57.0,1.0,1.0,0.0,0.0,0.857143,NaN,0.0,9.0,1,1,0
4,4,a.khani@samsung.com,Samsung,Aamer,NaN,Khani,Director Software Engineering,Dir,NaN,IT,a.khani@samsung.com,NaN,Dublin,CA,NaN,NaN,NaN,United States,www.samsung.com,NaN,NaN,NaN,Manufacturing,NaN,$197B,10B+,"10,000+",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/aamer-khani-3225719,NaN,../datasets/latest_dataset/Schneider_Electric_...,a.khani@samsung.com,57.0,1.0,1.0,0.0,0.0,0.857143,NaN,0.0,9.0,1,1,0

In [3]:
#Creating new columns to get refined industry values  
df["Refined_Industry"] = df["Industry"]
df.sample(5)

,Unnamed: 0,derived_mail,Company Name,First Name,Middle Name,Last Name,Title,Level,Seniority,Department,Email ID,Email 1,Contact_City,Contact_State,Contact City,Contact State,Contact Country,Country,Website,Company City,Company State,Company Country,Industry,Sub Industry,Revenue,Revenue Range,EMP Range,Company Annual Revenue,Company Industry,Company Staff Count Range,Company Staff Count,Contact Linkedin URL,Contact LI Profile URL,source,Email,total_emails_sent,total_emails_opened,total_emails_clicked,total_emails_bounced,total_emails_unsubscribed,avg_time_between_emails,avg_time_between_emails_opened,days_since_last_email_opened,total_emails_sent_week_ends,has_ever_opened_email,is_clicked_email,has_ever_unsubscribed_email,Refined_Industry
45888,45888,melissa.pastorello@bms.com,Bristol Myers Squibb,Melissa,NaN,Pastorello,Senior Manager Demand & Operations Integration,Mgr,NaN,Operations,melissa.pastorello@bms.com,NaN,Branchburg,NaN,NaN,NaN,NaN,United States,bms.com,Lawrence Township,NaN,United States,Manufacturing,NaN,$46.2 B,$10B+,"10,001+",NaN,NaN,NaN,NaN,http://www.linkedin.com/in/melissa-pastorello-...,NaN,../datasets/latest_dataset/Schneider_Electric_...,melissa.pastorello@bms.com,32.0,0.0,0.0,0.0,0.0,1.064516,NaN,NaN,5.0,0,0,0,Manufacturing
56159,56159,thomas.huemann@abbvie.com,AbbVie,Thomas,J.,Huemann,Project Manager Engineering Project Lead,Mgr,NaN,Engineering,thomas.huemann@abbvie.com,NaN,NaN,NaN,NaN,NaN,NaN,United States,www.abbvie.com,North Chicago,IL,United States,Manufacturing,NaN,$58.1 B,$10B+,"10,001+",NaN,NaN,NaN,NaN,NaN,NaN,../datasets/latest_dataset/Schneider_Electric_...,thomas.huemann@abbvie.com,28.0,0.0,0.0,0.0,0.0,0.740741,NaN,NaN,4.0,0,0,0,Manufacturing
81323,81323,michael_davisson@lincolnelectric.com,Lincoln Electric Automation,Michael,NaN,Davisson,Mechanical Engineer,Mgr,NaN,Operations,michael_davisson@lincolnelectric.com,NaN,Dublin,OH,NaN,NaN,NaN,United States,lincolnelectric.com,Cleveland,OH,United States,Manufacturing,NaN,$4.1B,1B - 10B,"10,000+",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/ACwAAA2Jx3EBdEJVay...,NaN,../datasets/latest_dataset/Schneider_Electric_...,michael_davisson@lincolnelectric.com,16.0,0.0,0.0,1.0,0.0,0.800000,NaN,NaN,2.0,0,0,0,Manufacturing
52183,52183,jacob_cropley@merck.com,Merck,Jacob,NaN,Cropley,Associate Director Engineering,Dir,NaN,Engineering,jacob_cropley@merck.com,NaN,NaN,NaN,NaN,NaN,NaN,United States,www.merck.com,Kenilworth,NJ,United States,Manufacturing,NaN,$59.3 B,$10B+,"10,001+",NaN,NaN,NaN,NaN,NaN,NaN,../datasets/latest_dataset/Schneider_Electric_...,jacob_cropley@merck.com,27.0,0.0,0.0,0.0,0.0,0.884615,NaN,NaN,5.0,0,0,0,Manufacturing
30190,30190,marcotulio.moralesraudry@pepsico.com,Pepsico,Marco,NaN,Raudry,Software Engineering Manager,Mgr,NaN,IT,marcotulio.moralesraudry@pepsico.com,NaN,Zacatecas,NaN,NaN,NaN,NaN,Mexico,pepsico.com,Purchase,New York,United States,Retail,NaN,NaN,500M - 1B,"1,001-5,000",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/mtmoralesraudry,NaN,../datasets/latest_dataset/Schneider_Electric_...,marcotulio.moralesraudry@pepsico.com,84.0,4.0,0.0,0.0,0.0,0.542169,14.333333,21.0,13.0,1,0,0,Retail

In [4]:
#get value counts of column frequency
df["Refined_Industry"].value_counts()

Refined_Industry
Manufacturing                                        91444
Retail                                               14736
Government                                           12965
Transportation                                        7607
Energy, Utilities & Waste                             4720
Hospitality                                           3226
Business Services                                     2881
Construction                                          2850
Agriculture                                           1595
Finance                                                558
Holding Companies & Conglomerates                      504
Software                                               394
$1.9B                                                  348
Airlines, Airports & Air Services                      326
Hospitals & Physicians Clinics                         232
Education                                              194
Organizations                                           84
NV                                                      64
Automation Machinery Manufacturing                      48
Minerals & Mining                                       27
Healthcare                                              23
Consumer Services                                       22
Electricity, Oil & Gas, Energy, Utilities & Waste       14
https://www.linkedin.com/company/14251                  14
Miscellaneous Transportation                             9
https://www.linkedin.com/company/480438                  5
Local                                                    5
Law Firms & Legal Services                               5
Manufacturing                                            5
https://www.linkedin.com/company/16174                   4
https://www.linkedin.com/company/39468                   3
Company LI Profile Url                                   2
https://www.linkedin.com/company/163077                  2
https://www.linkedin.com/company/314470                  1
https://www.linkedin.com/company/5032164                 1
Company State Abbr                                       1
https://www.linkedin.com/company/16849                   1
https://www.linkedin.com/company/15129                   1
https://www.linkedin.com/company/52155                   1
Name: count, dtype: int64

In [5]:
#replace linkedin values with nan value
df.loc[df["Refined_Industry"].str.contains('https://www.linkedin.com/company', na=False)] = np.nan

df["Refined_Industry"].value_counts()

Refined_Industry
Manufacturing                                        91444
Retail                                               14736
Government                                           12965
Transportation                                        7607
Energy, Utilities & Waste                             4720
Hospitality                                           3226
Business Services                                     2881
Construction                                          2850
Agriculture                                           1595
Finance                                                558
Holding Companies & Conglomerates                      504
Software                                               394
$1.9B                                                  348
Airlines, Airports & Air Services                      326
Hospitals & Physicians Clinics                         232
Education                                              194
Organizations                                           84
NV                                                      64
Automation Machinery Manufacturing                      48
Minerals & Mining                                       27
Healthcare                                              23
Consumer Services                                       22
Electricity, Oil & Gas, Energy, Utilities & Waste       14
Miscellaneous Transportation                             9
Manufacturing                                            5
Local                                                    5
Law Firms & Legal Services                               5
Company LI Profile Url                                   2
Company State Abbr                                       1
Name: count, dtype: int64

In [6]:
df.sample(5)

,Unnamed: 0,derived_mail,Company Name,First Name,Middle Name,Last Name,Title,Level,Seniority,Department,Email ID,Email 1,Contact_City,Contact_State,Contact City,Contact State,Contact Country,Country,Website,Company City,Company State,Company Country,Industry,Sub Industry,Revenue,Revenue Range,EMP Range,Company Annual Revenue,Company Industry,Company Staff Count Range,Company Staff Count,Contact Linkedin URL,Contact LI Profile URL,source,Email,total_emails_sent,total_emails_opened,total_emails_clicked,total_emails_bounced,total_emails_unsubscribed,avg_time_between_emails,avg_time_between_emails_opened,days_since_last_email_opened,total_emails_sent_week_ends,has_ever_opened_email,is_clicked_email,has_ever_unsubscribed_email,Refined_Industry
53414,53414.0,lpossamai@its.jnj.com,Johnson & Johnson,Lucas,NaN,Possamai,Senior Manager Operations LATAM & Inter-Region...,Mgr,NaN,Operations,lpossamai@its.jnj.com,NaN,NaN,NaN,NaN,NaN,NaN,United States,www.its.jnj.com,Peoria,IL,United States,Manufacturing,NaN,$94.9 B,$10B+,"10,001+",NaN,NaN,NaN,NaN,NaN,NaN,../datasets/latest_dataset/Schneider_Electric_...,lpossamai@its.jnj.com,29.0,0.0,0.0,0.0,0.0,0.857143,NaN,NaN,4.0,0.0,0.0,0.0,Manufacturing
33173,33173.0,ian.rose@molsoncoors.com,Molson,Ian,NaN,Rose,Senior Manager Supply Chain Finance,Mgr,NaN,Operations,ian.rose@molsoncoors.com,NaN,Denver,CO,NaN,NaN,NaN,United States,molsoncoors.com,Chicago,IL,United States,Manufacturing,Food & Beverage,$10.7 B,$10B+,"10,001+",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/acwaabmp0pebthbvwq...,NaN,../datasets/latest_dataset/Schneider_Electric_...,ian.rose@molsoncoors.com,27.0,0.0,0.0,0.0,0.0,0.615385,NaN,NaN,5.0,0.0,0.0,0.0,Manufacturing
118372,118372.0,kodie.simpson@gf.com,Global Foundries,Kodie,NaN,Simpson,Process Engineer - Lithography,Mgr,NaN,Operations,kodie.simpson@gf.com,NaN,Clifton Park,NY,NaN,NaN,NaN,United States,www.gf.com,Santa Clara,CA,United States,Manufacturing,NaN,$7.4B,1B - 10B,"10,000+",NaN,NaN,NaN,NaN,NaN,NaN,../datasets/latest_dataset/Schneider_Electric_...,kodie.simpson@gf.com,41.0,0.0,0.0,0.0,0.0,0.725000,NaN,NaN,7.0,0.0,0.0,0.0,Manufacturing
4619,4619.0,jperalta@soriana.com,Tiendas Soriana,Julio,NaN,Peralta,Maintenance Manager,Mgr,NaN,Operations,jperalta@soriana.com,NaN,NaN,Veracruz,NaN,NaN,NaN,Mexico,soriana.com,Monterrey,Nuevo León,Mexico,Retail,NaN,NaN,1B - 10B,"10,000+",NaN,NaN,NaN,NaN,https://www.linkedin.com/sales/lead/ACwAAD0MVM...,NaN,../datasets/latest_dataset/Schneider_Electric_...,jperalta@soriana.com,41.0,2.0,2.0,0.0,0.0,0.625000,0.0,0.0,7.0,1.0,1.0,0.0,Retail
98467,98467.0,dhairya.dixit@intel.com,Intel,Dhairya,NaN,Dixit,Engineering Manager,Mgr,NaN,IT,dhairya.dixit@intel.com,NaN,Hillsboro,OR,NaN,NaN,NaN,United States,www.intel.com,San Diego,CA,United States,Manufacturing,NaN,$54.2B,10B+,"10,000+",NaN,NaN,NaN,NaN,https://www.linkedin.com/in/dhairya-dixit-64a9...,NaN,../datasets/latest_dataset/Schneider_Electric_...,dhairya.dixit@intel.com,6.0,0.0,0.0,0.0,0.0,0.400000,NaN,NaN,1.0,0.0,0.0,0.0,Manufacturing

In [7]:
# get all columns info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157572 entries, 0 to 157571
Data columns (total 48 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      157539 non-null  float64
 1   derived_mail                    157539 non-null  object
 2   Company Name                    157097 non-null  object
 3   First Name                      157483 non-null  object
 4   Middle Name                     5884 non-null    object
 5   Last Name                       157464 non-null  object
 6   Title                           157479 non-null  object
 7   Level                           147608 non-null  object
 8   Seniority                       2876 non-null    object
 9   Department                      147608 non-null  object
 10  Email ID                        144905 non-null  object
 11  Email 1                         12579 non-null   object
 12  Contact_City                    134574 non-null  object
 13  Contact_State                   118830 non-null  object
 14  Contact City                    11463 non-null   object
 15  Contact State                   10232 non-null   object
 16  Contact Country                 2854 non-null    object
 17  Country                         144892 non-null  object
 18  Website                         157388 non-null  object
 19  Company City                    151865 non-null  object
 20  Company State                   141551 non-null  object
 21  Company Country                 156803 non-null  object
 22  Industry                        144889 non-null  object
 23  Sub Industry                    7109 non-null    object
 24  Revenue                         142072 non-null  object
 25  Revenue Range                   114220 non-null  object
 26  EMP Range                       144509 non-null  object
 27  Company Annual Revenue          12579 non-null   object
 28  Company Industry                12579 non-null   object
 29  Company Staff Count Range       12493 non-null   object
 30  Company Staff Count             12579 non-null   object
 31  Contact Linkedin URL            100457 non-null  object
 32  Contact LI Profile URL          12420 non-null   object
 33  source                          157484 non-null  object
 34  Email                           157484 non-null  object
 35  total_emails_sent               156640 non-null  float64
 36  total_emails_opened             156640 non-null  float64
 37  total_emails_clicked            156640 non-null  float64
 38  total_emails_bounced            156640 non-null  float64
 39  total_emails_unsubscribed       156640 non-null  float64
 40  avg_time_between_emails         140241 non-null  float64
 41  avg_time_between_emails_opened  7506 non-null    float64
 42  days_since_last_email_opened    17235 non-null   float64
 43  total_emails_sent_week_ends     129861 non-null  float64
 44  has_ever_opened_email           157539 non-null  float64
 45  is_clicked_email                157539 non-null  float64
 46  has_ever_unsubscribed_email     157539 non-null  float64
 47  Refined_Industry                144889 non-null  object
dtypes: float64(13), object(35)
memory usage: 57.7+ MB

In [9]:
# replace na with company industry values 
df["Refined_Industry"].fillna(df["Company Industry"], inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15152\1637255118.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Refined_Industry"].fillna(df["Company Industry"], inplace=True)

In [10]:
# get refined values count with no nan values
df["Refined_Industry"].value_counts()

Refined_Industry
Manufacturing                                        91444
Retail                                               14736
Government                                           13966
Electricity, Oil & Gas                               11571
Transportation                                        7607
Energy, Utilities & Waste                             4720
Hospitality                                           3226
Business Services                                     2881
Construction                                          2850
Agriculture                                           1595
Finance                                                558
Holding Companies & Conglomerates                      504
Software                                               394
$1.9B                                                  348
Airlines, Airports & Air Services                      326
Hospitals & Physicians Clinics                         232
Education                                              194
Organizations                                           84
NV                                                      64
Automation Machinery Manufacturing                      48
Minerals & Mining                                       27
Healthcare                                              23
Consumer Services                                       22
Electricity, Oil & Gas, Energy, Utilities & Waste       14
Local                                                   10
Miscellaneous Transportation                             9
Manufacturing                                            5
Law Firms & Legal Services                               5
SUB Industry                                             2
Company LI Profile Url                                   2
Company State Abbr                                       1
Name: count, dtype: int64

In [11]:
#check if na values are removed or not
df["Refined_Industry"].isna().sum()

104

In [18]:
#replace unknown industry values with others
df.loc[df["Refined_Industry"].str.contains("Electricity, Oil & Gas", na=False)] = "Electricity, Oil & Gas"
df.loc[df["Refined_Industry"].str.contains("Hospital|Healthcare", na=False)] = "Hospitality"
df.loc[df["Refined_Industry"].str.contains("Transport", na=False)] = "Transportation"
df.loc[df["Refined_Industry"].str.contains("Manufacturing", na=False)] = "Manufacturing"
df.loc[df["Refined_Industry"].str.contains("Company|\\$1.9B|NV|Companies|SUB|Services|Local|Organizations", na=False)] = "Others"

df["Refined_Industry"].value_counts()

Refined_Industry
Manufacturing                91497
Retail                       14736
Government                   13966
Electricity, Oil & Gas       11585
Transportation                7616
Energy, Utilities & Waste     4720
Others                        4249
Hospitality                   3481
Construction                  2850
Agriculture                   1595
Finance                        558
Software                       394
Education                      194
Minerals & Mining               27
Name: count, dtype: int64